<div>
  <div>
    <h1>
      List of all recipes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <form action="/get_recipe" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="user_id">
      </div>

      <div>
        <label for="name_box">
          What do you want to cook today?
        </label>

        <input type="text" id="name_box" name="dish">
      </div>

      <div>
        <label for="course">
          Course
        </label>

        <input type="text" id="course" name="course">
      </div>

      <div>
        <label for="full_recipe_box">
          Full recipe
        </label>

        <textarea id="full_recipe_box" name="query_full_recipe" rows="3"></textarea>
      </div>

      <div>
        <label for="cuisine_box">
          Cuisine
        </label>

        <input type="text" id="cuisine_box" name="query_cuisine">
      </div>

      <button>
        Create recipe
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Name
        </th>

        <th>
          Dish type
        </th>

        <th>
          Full recipe
        </th>

        <th>
          Cuisine
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_recipes.each do |a_recipe| %>
      <tr>
        <td>
          <%= a_recipe.id %>
        </td>

        <td>
          <%= a_recipe.user_id %>
        </td>

        <td>
          <%= a_recipe.name %>
        </td>

        <td>
          <%= a_recipe.dish_type %>
        </td>

        <td>
          <%= a_recipe.full_recipe %>
        </td>

        <td>
          <%= a_recipe.cuisine %>
        </td>

        <td>
          <%= time_ago_in_words(a_recipe.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_recipe.updated_at) %> ago
        </td>

        <td>
          <a href="/recipes/<%= a_recipe.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
