<h1><strong>Here is your recipe for <%=@the_recipe.dish%> </strong></h1>

<hr>

<div>
  <h2> Time needed: <%= time_conversion(@the_recipe.total_time) %> </h2>
</div>

<hr>

<div>
  <h2> Ingredients needed </h2>
  <ul>
  <% @the_recipe.ingredients.each do |an_ingredient| %>
  
    <li> <%= an_ingredient%>  </li>
  <% end %>
  </ul>
</div>

<div>
  <h2> Step by step instructions </h2>
  <ol>
  <% @the_recipe.recipe_instructions.each do |an_instruction| %>
  
    <li> <%= an_instruction.fetch("text")%>  </li>
  <% end %>
  </ol>
</div>

    <%protein = @the_recipe.nutrition["protein"]%>
    <%carbs = @the_recipe.nutrition["carbohydrateContent"]%>
    <%calories = @the_recipe.nutrition["calories"]%>
    <%fat = @the_recipe.nutrition["fatContent"] %>

<hr>

<h2> This dish has: </h2>
<ul>
  <li> Calories: <%=calories%> </li>
  <li> Carbohydrates: <%=carbs%> </li>
  <li> Protein: <%=protein%> </li>
  <li> Fat: <%=fat%> </li>
</ul>

<hr>

<div>
<h2> Suggested next meal: </h2>
  <ul>
  <% @the_recipe.next_meals.each do |a_meal| %>
  
    <li> <%= a_meal%>  </li>
  <% end %>
  </ul>
</div>
